<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detector: Who Dis?</title>
</head>
<body>
    <form action="/submit">
        <p>
			<label for="NewsInput">Input the URL of a news article here to determine if it is Real or Fake news!</label><br>
			<input type="text" name="NewsInput">
        </p>
        <p>
            <label for="UserPrediction">Do you believe this news is real of fake:</label>
            <select name="UserPrediction">
                <option value="real">real</option>
                <option value="fake">fake</option>
              </select>
        </p>
        <p><button type="submit">Submit</button></p>
    </form>
    
</body>
</html>