<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detector</title>
</head>
<p>
    <h2>Checking for Fake News with Sentiment Analysis</h2>
    <p>The purpose of this app is for a quick check of the vadility of an article on the internet. While many articles contain false or click bait-y titles, this app just analyzes the contents of the article, not the title.</p>

    <a href="/form">Get Predicitions for Fake News Detector</a>
    <p></p>
</body>
<B>Note: this is just a beta version of this app, and you should still double check the validity of the journalism in question.</B>
</html>